<div class="modal-body">


  <form [formGroup]="mobileForm" novalidate>

    <div class="row mt-3">
      <div class="col text-center">
        <img class="drug-icon mb-3" src="assets/icons/sms-icon@3x.png">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-2">What's your mobile number?</h1>
      </div>
    </div>
    <div class="row mt-1 mx-3 mt-4">
      <div class="col">
        <div class="form-group">
          <label>Enter Mobile Number</label>
          <input id="tel" class="floating-input form-control" phoneMask [preValue]="mobileForm.value.phone"  [phoneControl]="mobileForm.controls['phone']" formControlName="phone" maxlength="14"
                 [ngClass]="(mobileForm.controls['phone'].invalid)? 'errmsg' : 'validmsg'" [(ngModel)]="mobile">
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row m-4">
  <div class="col-12 px-4">
    <button (click)="ok()" type="button" class="btn btn-success btn-lg main-cta-btn ">Save</button>
  </div>
  <div class="col-12 px-4">
    <a (click)="cancel()" class="btn btn-lg main-cta-btn  text-dark">Cancel</a>
  </div>
</div>
