:host {
  flex: 1;
  padding: 15px;
}

.card-container {
  width: 154px !important;
}

.btn {
  border-radius: 49px;
  font-size: x-large;
}


.checkbox {
  width: 25px;
  height: 25px;
  border: solid 1px #003c71;
}

.select-title {
  text-transform: uppercase;
  width: 54px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1c6cc1;
}
