<div class="modal-body">
  <div class="row">
    <div class="col text-center">
      <img src="assets/icons/check-icon-green/check-icon-green@3x.png" class="check-icon mb-3">
      <h1 class="text-center mb-3">Order Submitted</h1>
    </div>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 px-4">
    <button (click)="goToNewTest()" type="button" class="btn btn-success btn-lg main-cta-btn ">Start New Test</button>
  </div>
  <div class="col-12 px-4">
    <a  (click)="goToList()" class="btn btn-lg main-cta-btn text-dark">Return to List</a>
  </div>
</div>
